
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,500&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,300;1,8..144,100;1,8..144,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,500&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,300;1,8..144,100;1,8..144,200&display=swap');
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}
.img-responsive{
  border-radius: 0;
}
main{
  display: flex;
  flex-direction: column;
}
.main-bar{
  padding: 2rem;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  background-color: var(--background-color);
  width: fit-content;
  margin: 2rem 0;
  align-self: center;
}
.onboarding{
  background-color: var(--background-color);
  width: fit-content;
  margin: auto;
  display: flex;
  padding: 6rem 2rem;
  align-items: center;
}

.search-input{
  width:80%;
  font-size: 2rem;
  padding: 0.5rem;
  color: white;
  background-color: transparent;
  border:0;
  border-bottom: 2px solid var(--primary-color);
  text-align: center;
}
.search-input::placeholder{
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
.search-input:focus{
  outline: none;
}
.search-input:focus::placeholder{
  color: transparent;
}
.onboarding-head{
  font-size: 5rem;
  align-self: center;
}
.onboarding-input{
  font-size: 2rem;
  padding: 1rem;
  color: white;
  background-color: transparent;
  border:0;
  border-bottom: 2px solid var(--primary-color);
  text-align: center;
}
.onboarding-input::placeholder{
  color: white;
}
.onboarding-input:focus{
  outline: none;
}
.onboarding-input:focus::placeholder{
  color: transparent;
}
.footer-bar{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
}

.calendar{
  display: flex;
  flex-direction: row;
}
.logout-menu{
  font-size: 2rem;
  padding: 1rem;
  font-weight: 700;
  margin: 1rem;
  left: 1rem;
  bottom: 4rem;
  position: absolute;
  background-color: var(--primary-color);
  color: var(--black);
  border-radius: 0.5rem;
}
.logout-menu:hover{
  cursor: pointer;
}
.greeting{
  font-size: 3rem;
  margin:1rem;
}

.Quotes{
  width: fit-content;
  justify-content: center;
  align-self: center;
  padding: 1rem;
}
.quote{
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--background-color);
  justify-content: center;
}
.author{
  text-align: end;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.clock{
  font-size: 6rem;
}
.date{
  font-size: 2rem;
}

.focus-input{
  padding: 1rem;
  color: var(--primary-color);
  background-color: transparent;
  border:0;
  border-bottom: 2px solid var(--primary-color);
  font-size: large;
  font-size: 2.5rem;
  text-align: center;
}
.focus-input::placeholder{
  color: var(--primary-color);
}
.focus-input:focus{
  outline: none;
}
.focus-input:focus::placeholder{
  color: transparent;
}
.floating-btn{
  border: 0;
  background-color: transparent;
}
.floating-btn:hover{
  background-color: var(--hover-floating-btn);
  cursor: pointer;
}

.focus-check{
  width: 2rem;
  height: 2rem;
  margin: 2rem 0;
}
.focus-tab{
  margin: 1rem;
}
.focus-status{
  font-size: 1.5rem;
  padding: 1rem;
}
.focus-text{
  margin:1rem;
  font-size: 2rem;
}
.header-bar{
  padding: 2rem;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
} 
.footer-bar .floating-btn{
  font-size: 4rem;
}
.searchbar .floating-btn{
  font-size: 2rem;
}
.searchbar{
  display: flex;
  align-items: flex-end;
}
.weather {
  margin-left: auto;
  display: flex;
}
.weather-details{
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}
.weather-temperature{
font-size: 3rem;
font-weight: bolder;
font-family: 'Merriweather', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Serif', serif;
}
.weather-location{
  font-size: 2rem;
}
.focus-tab{
  margin: 1rem;
}
.underline{
  text-decoration: underline;
  font-size: 3rem;
}
.strike {
  text-decoration: line-through;
}


.todo-menu {
  position: absolute;
  background-color: var(--primary-color);
  color: var(--black);
  height: fit-content;
  /* width: 15rem;  */
  right: 1rem;
  bottom: 4rem;
  padding: 1rem;
  z-index: 1;
  display: flex;
  flex-flow: column;
  border-radius: 1rem;
}


.todo-tasks {
  display: flex;
  flex-flow: column;
  font-size: 2rem;
  margin: auto;
}

.tasks {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.task-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  color: var(--black);
  padding: 0.3rem;
  border-radius: 50%;
}
.close-btn:hover {
  background-color: var(--background-color);
}

.todo-footer {
  display: flex;
  justify-content: space-between;
}

.todo-input {
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  border-bottom: 2px solid var(--black);
}

.todo-input:focus {
  outline: none;
}

.add-button {
  border: none;
  background-color: var(--black);
  color: var(--primary-color);
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}